:root {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

* {
    box-sizing: border-box; /* all elements include border and padding in size */
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Navbar */
.navbar {
    padding: 1rem 0rem;
    border-bottom: 1px solid #b7c4ca;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.nav-item:last-child {
    margin-left: auto;
    padding-right: 3%;
}

.nav-link {
    height: 2rem;
    color: #969ea4;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.75rem;
}

.title {
    color: black;
}

/* Main */
.container {
    display: flex;
    min-height: 90vh;
}

.child {
    flex: 1 1 auto;
    width: 50%;
    height: 90%;
}

/* Second Tier Nav Style */
.content-navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #b7c4ca;
}

.content-nav-link {
    background-color: #fafafa;
    color: #969ea4;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 0.75rem;
}

.editor-nav {
    justify-content: flex-end;
}

/* Drag Bar and Panels */
.dragbar {
    padding: 0px 6px;
    cursor: col-resize;
    background-color: #fafafa;
    height: 90vh;
}

.darken {
    background-color: #969ea4 !important;
}

#content {
    border-right: 1px solid #b7c4ca;
    height: 90vh;
}

#editor {
    border-left: 1px solid #b7c4ca;
    height: 90vh;
}

