* {
    box-sizing: border-box; /* all elements include border and padding in size */
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

/* Navbar */
.navbar {
    display: flex;
    padding: 1rem 0rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-left: auto;
    justify-content: flex-end;
    padding-left: 250%;
}

.nav-link {
    display:flex;
    justify-content: center;
    height: 2rem;
    color: #b7c4ca;
    text-decoration: none;
}

.link-text {
    margin-left: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

.title {
    color: black;
}

/* Main */
.container {
    display: flex;
    flex-direction: row;
}