* {
    box-sizing: border-box; /* all elements include border and padding in size */
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

/* Navbar */
.navbar {
    height: 5rem;
    width: 100vh;
}

