:root {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

* {
    box-sizing: border-box; /* all elements include border and padding in size */
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h3 {
    margin: 0%;
}

p {
    line-height: 1.75;
}

/* Navbar */
.navbar {
    padding: 1rem 0rem;
    border-bottom: 1px solid #b7c4ca;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.nav-item:last-child {
    margin-left: auto;
    padding-right: 3%;
}

.nav-link {
    height: 2rem;
    color: #969ea4;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.75rem;
}

.title {
    color: black;
}

/* Main Content */
.container {
    display: flex;
    min-height: 90vh;
}

.child {
    flex: 1 1 auto;
    width: 50%;
}

/* Second Tier Nav Style */
.content-navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #b7c4ca;
}

.content-nav-link {
    background-color: #fafafa;
    color: #969ea4;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.editor-nav {
    justify-content: flex-end;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-lite {
    background-color: white;
    color: black;
}

.btn {
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
    margin-top: 0.5rem;
}

.buttons {
    margin-right: auto;
}

/* Drag Bar and Panels */
.dragbar {
    padding: 0px 6px;
    cursor: col-resize;
    background-color: #fafafa;
    min-height: 90vh;
}

.darken {
    background-color: #969ea4 !important;
}

#content {
    border-right: 1px solid #b7c4ca;
    height: 90vh;
    padding: 0.5rem 1.5rem;
    overflow-y: scroll
}

#editor {
    border-left: 1px solid #b7c4ca;
    height: 90vh;
    flex:1 1 auto;
    position: relative;
}

.CodeMirror {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:90vh;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b7c4ca; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #969ea4; 
}